{% extends 'base.html.twig' %}

{% block title %}Societe{% endblock %}

{% block body %}
    <h1>Societe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ societe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ societe.nom }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ societe.ville }}</td>
            </tr>
        </tbody>
    </table>

    {% if societe.societeMere %}
        <p>Société mère : {{ societe.societeMere.nom }}</p>
    {% endif %}

    {% if societe.contacts | length > 0 %}
        <p>Liste des contacts</p>
        <ul>
            {% for c in societe.contacts %}
            <li>
                <a href="{{ path('app_contact_show', {id: c.id}) }}">{{ c.name }}</a>
            </li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{{ path('societe_index') }}">back to list</a>

    <a href="{{ path('societe_edit', {'id': societe.id}) }}">edit</a>

    {{ include('societe/_delete_form.html.twig') }}
{% endblock %}
