{% extends 'base.html.twig' %}

{% block title %}Liste des contacts - {{ parent() }}{% endblock %}

{% block body %}
    <h2>Liste des contacts</h2>
    <table>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Email
            </th>
            <th>
                Actions
            </th>
        </tr>
        {% for c in contacts %}
        <tr>
            <td>{{ c.name }}</td>
            <td>{{ c.email }}</td>
            <td>
                <a href="{{ path('app_contact_show', {'id': c.id}) }}">Details</a>
                <a href="{{ path('app_contact_update', {'id': c.id}) }}">Update</a>
                <a href="{{ path('app_contact_delete', {'id': c.id}) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <p>
        <a href="{{ path('app_contact_create') }}">Ajouter un contact</a>
    </p>
{% endblock %}
