{% extends 'base.html.twig' %}

{% block title %}{{ contact.name }} - {{ parent() }}{% endblock %}

{% block body %}

    {{ dump(contact) }}

    <p>
        Name: {{ contact.name }}
    </p>
    {% if contact.email %}
        <p>
            Email: {{ contact.email }}
        </p>
    {% endif %}

    {% if contact.societe %}
        <p>
            Société: {{ contact.societe.nom }}
        </p>
    {% endif %}

    {% if contact.groupes | length > 0 %}
        <p>
            Groupes : {{ contact.groupes | join(', ') }}
        </p>
    {% endif %}

{% endblock %}
